.choice-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 2rem;
    border: 0.2rem solid goldenrod;
    background-color: black;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color:orangered;
    color:white;
}

.choice-text{
    padding:1.5rem;

}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.5rem 1.5rem 0 black;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.correct{
    background-color: #00f239;
}

.incorrect{
    background-color: #ff0019;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
}

#progressbar{
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid white;
    margin-top: 2rem;
}

#progressbarfull{
    height: 3.4rem;
    background-color: silver;
    width: 0%;
}


