body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1A1C2E;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 40px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #1A1C2E;
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1A1C2E;
    color: white;
}

footer p {
    margin: 0;
    font-size: 1em;
}

.social-links {
    margin-top: 10px;
}

.social-icon {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #04e6f6; 
}

.social-icon i {
    margin-right: 5px; 
}

select {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}

